
<ion-content class="ion-padding">

  <div class="ion-padding">
    <h1>
      Help or get help?
    </h1>
  </div>
  <div class="ion-padding" style="padding-top: 20%;">
    <h5>
      The platform connects both volunteers and people in need. Please choose below.
    </h5>
  </div>
  <div class="ion-text-center" style="padding-top: 45%;">
    <ion-button  shape="round" color="sah-secondary button-text-bg " style="height: 13vh!important; width: 100%!important;" (click)="volunteer()" >I want to help</ion-button>
    <ion-button shape="round"  color="sah-primary button-text-bg" style="height: 15vh!important; width: 100%!important; padding-top: 5%;" (click)="people()" >Looking for help</ion-button>
  </div>
</ion-content>
