<!-- <ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="ion-padding" style="padding-top: 10%; font-weight: bold;" >
    <h1>
      Where is your neighbourhood?
    </h1>
  </div>
  
  <!-- <app-location-button></app-location-button> -->
  <app-location-button></app-location-button>
  <app-location-input></app-location-input>
  
  <app-help-items></app-help-items>
  <div style="float: right;">
    <ion-button shape="round" color="sah-primary button-text" (click)="signOut()" >sign Out <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
