<!-- <ion-header>
  <ion-toolbar>
    <ion-title>volunteer</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <div class="ion-padding">
    <div>
      <h1 style="padding-top: 10%; font-weight: bold; font-size: 30px;">
        Find helping neighbours
      </h1>
    </div>
    
    <!-- <div >
      <h5 style=" font-weight: bold;">
        Find helping neighbours<br> -->
        <!-- <ion-text color="primary" style="font-size: 30px; font-weight: bold;">
          London
        </ion-text> -->
      <!-- </h5>
    </div> -->
  </div>
  <app-person-card></app-person-card>

</ion-content>
