<ion-card color="sah-secondary" (click)="select1()">
 <ion-grid>
   <ion-row>
     <ion-col size="3" class="ion-padding">
      <ion-checkbox checked={{checked1}} color="sah-primary" ></ion-checkbox>
     </ion-col>
     <ion-col>
       <ion-card-header>
         <ion-card-subtitle>Grocery shopping</ion-card-subtitle>
       </ion-card-header>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-card>
<ion-card color="sah-secondary" (click)="select2()">
 <ion-grid>
   <ion-row>
     <ion-col size="3" class="ion-padding">
      <ion-checkbox checked={{checked2}} color="sah-primary" ></ion-checkbox>
     </ion-col>
     <ion-col>
       <ion-card-header>
         <ion-card-subtitle>Medicine pick-up</ion-card-subtitle>
       </ion-card-header>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-card>
<ion-card color="sah-secondary" (click)="select3()">
 <ion-grid>
   <ion-row>
     <ion-col size="3" class="ion-padding">
      <ion-checkbox  checked={{checked3}} color="sah-primary" ></ion-checkbox>
     </ion-col>
     <ion-col>
       <ion-card-header>
         <ion-card-subtitle>Dog walking</ion-card-subtitle>
       </ion-card-header>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-card>
<ion-card color="sah-secondary" (click)="select4()">
 <ion-grid>
   <ion-row>
     <ion-col size="3" class="ion-padding">
      <ion-checkbox checked={{checked4}} color="sah-primary" ></ion-checkbox>
     </ion-col>
     <ion-col>
       <ion-card-header>
         <ion-card-subtitle>Other errands</ion-card-subtitle>
       </ion-card-header>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-card>