

<ion-content class="ion-padding">

  <div class="ion-padding" style="padding-top: 10%;">
    <h1 style="font-weight: bold;">
      Coordinate Care helps people in quarantine
    </h1>
  </div>

  <div class="ion-padding" style="padding-top: 20%;">
    <h5 style="font-weight: bold;">
      In the wake of Covid-19 and people being set in either self-quarantine or enforced by the country, we find people volunteering to help out. This app is meant to make it easier to find each other and communicate.
    </h5>
  </div>

  <div style="padding-top: 40%; float: right;">
    <ion-button shape="round" color="sah-secondary button-text" (click)="welcome()" >Get going</ion-button>
  </div>
</ion-content>
