<div *ngFor="let user of users">
  <ion-card color="sah-card" >
  
    <ion-grid>
      <ion-row >
        <ion-col class="ion-padding" >
          <!-- <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header> -->
          <h4>{{user.profile.first_name}}</h4>
          {{user.formatedLocation}}<br>
          <h6 style="font-weight: bold;">Needs help with</h6>
          <div *ngIf="user.latesthelpItems !== null">
            <span *ngIf="user.latesthelpItems.groceries === true">Grocery shopping</span><br>
            <span *ngIf="user.latesthelpItems.madiciens === true" >Medicine pick-up</span><br>
            <span *ngIf="user.latesthelpItems.dog_walking === true" >dog walking </span>
            <span *ngIf="user.latesthelpItems.others === true" >Other errands</span>
          </div>
        </ion-col>
        <ion-col size="6" class="ion-padding">
          <div style="padding-top: 10px;">
            <ion-avatar>
              <img src="{{user.profilePicture}}">
            </ion-avatar>
          </div>
          <div style="padding-top: 130px;">
            <ion-button class="person-card-button" expand="block" color="sah-secondary" (click)="sendMessage(user)">Send Message</ion-button>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  
  </ion-card>
</div>